/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


.container {
  --container-width: 1800px;
  max-width: var(--container-width);
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
}

.header{
  height: 91px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.navigation{
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.navigation li{
  margin-top: 8px;
}

.blockOne{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.blockToo{
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.registr{
background: #4262FF;
border: 1px solid #4262FF;
border-radius: 24px;
width: 157px;
height: 50px;
color: #FFFFFF;
}
/*
.header__wrapper{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.left__header{
  margin-top: 10px;
}
ul.left__header li {
    display: inline;
    margin-right: 24px; 
    padding: 34px;
    margin: 7px;
}
.header__img{
  display: inline-block;
  align-items: center;
}
.right__header{

}
*/
