/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #050038;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


.container {
  --container-width: 1200px;
  max-width: var(--container-width);
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
}

.header {
  height: 91px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px;
}

.navigation {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.navigation li {
  margin-top: 8px;
}

.blockOne {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.blockToo {
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.registr {
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 24px;
  width: 157px;
  height: 50px;
  color: #FFFFFF;
}

.introduction {
  padding: 58px 0px 148px 0px;
  display: flex;
  align-items: center;
}

.post-1 h1 {
  max-width: 285px;
  font-size: 48px;
}

.post-1 p {
  max-width: 424px;
  font-size: 18px;
  padding-top: 19px;
}

.post-1 .description {
  padding-bottom: 50px;
}

.input {
  width: 440px;
  height: 48px;
  border: 1px solid #9B99AF;
  border-radius: 32px;
}

.output {
  width: 440px;
  height: 51px;
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 32px;
  color: #F0F0F0;
}

.post-1 .description__free {
  font-size: 14px;
  padding-top: 8px;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0px 0px 0px;
}

.partners p {
  font-size: 18px;
}

.post-2 {
  width: 120%;
  display: flex;
  justify-content: center;
}
.description__content{
  display: grid;
  grid-template-areas: "content1 content2"  
                       "content3 content4";           
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 5px;
}

.description__content h1{
  max-width: 455px;
  font-size: 48px;
}
.description__content p{
  padding-top: 19px;
  max-width: 430px;
  font-size: 18px;
  padding-bottom: 40px;
}

.description__content a{
  color: #4262FF;
  text-decoration: underline;
}
.description__content1{
  grid-area: content1;
}
.description__content2{
  grid-area: content2;
}
.description__content3{
  grid-area: content3;
}
.description__content4{
  width: 432px;
  grid-area: content4;
  margin-left: auto;

}
.img1{
  animation-name: grow;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.example__content{
  padding-top: 148px;
}

.example__content1 h2{
  font-size: 48px;
}

.example__content1 h3{
  font-size: 18px;
}


.example__content1 p{
  font-size: 18px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  padding-top: 30px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #ffffff;;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 18px;
  transition: 0.3s;
  font-size: 14px;
  border: 1px solid #F2F2F2;
  border-radius: 24px;
  margin: 4px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #93a5ff8f;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #F1F3FD;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}




