/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #050038;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


.container {
  --container-width: 1200px;
  max-width: var(--container-width);
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
}

.header {
  height: 91px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px;
}

.navigation {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.navigation li {
  margin-top: 8px;
}

.blockOne {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.blockToo {
  display: flex;
  justify-content: space-between;
  gap: 88px;
}

.registr {
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 24px;
  width: 157px;
  height: 50px;
  color: #FFFFFF;
}

.introduction {
  padding: 58px 0px 148px 0px;
  display: flex;
  align-items: center;
}

.post-1 h1 {
  max-width: 285px;
  font-size: 48px;
}

.post-1 p {
  max-width: 424px;
  font-size: 18px;
  padding-top: 19px;
}

.post-1 .description {
  padding-bottom: 50px;
}

.input {
  width: 440px;
  height: 48px;
  border: 1px solid #9B99AF;
  border-radius: 32px;
}

.output {
  width: 440px;
  height: 51px;
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 32px;
  color: #F0F0F0;
}

.post-1 .description__free {
  font-size: 14px;
  padding-top: 8px;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0px 0px 0px;
}

.partners p {
  font-size: 18px;
}

.post-2 {
  width: 120%;
  display: flex;
  justify-content: center;
}
.description__content{
  display: grid;
  grid-template-areas: "content1 content2"  
                       "content3 content4";           
grid-template-columns: 1fr 1fr;  
grid-template-rows: 1fr 1fr;
}

.description__content h1{
  font-size: 48px;
}
.description__content p{
  font-size: 18px;
}
.description__content1{
  grid-area: content1;
}
.description__content2{
  grid-area: content2;
}
.description__content3{
  grid-area: content3;
}
.description__content{
  grid-area: content4;
}






/*
.header__wrapper{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.left__header{
  margin-top: 10px;
}
ul.left__header li {
    display: inline;
    margin-right: 24px; 
    padding: 34px;
    margin: 7px;
}
.header__img{
  display: inline-block;
  align-items: center;
}
.right__header{

}
*/